*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
    width:5px;
    height:2px;
}
body::-webkit-scrollbar-track{
    color:white;
}
body::-webkit-scrollbar-thumb{
    background-color:rgb(172,172,172);
    border-radius:20px;
}
/* -------------------------navbar-------------------------- */

#nav-bar{
    position: sticky;
    top: 0;
    z-index:10;
}
.navbar
{
    background-color:rgb(95, 8, 8);
    padding: 5px !important;
}
.navbar-nav li a{
    color:white !important;
    font-weight:600;
    padding:10px;
}
/* .navbar-nav li a:hover{
    background-color:rgb(20, 20, 102);
} */
.fa-bars{
    color:white;
    font-size:30px !important;
}
.navbar-toggler{
    outline:none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.loginbtn a i{
    color:white;
    position:absolute;
    font-size:30px;
    top:13px;
    left:95%;
}
.loginbtn a{
    color:white;
    position:absolute;
    top:3px;
    left:95%;
    text-decoration:none;
    font-weight:600;
}
.loginbtn a:active{
    color:white;
}
/* ----------------------------end nav bar-------------------------- */

.right-slidebar{
    /* flex-basis:30%; */
    max-width:60%;
    margin-left:10%;
}
.side-video-list{
    display:flex;
    /* justify-content:space-between; */
    margin-bottom:10px;
}
.side-video-list img{
    width:95%;
}
.side-video-list .small-thumbnail{
    flex-basis:29%;
}
.side-video-list .vid-info{
    flex-basis:69%;
}
.vid-info{
    color:#5a5a5a;
    font-size:15px;
}
.vid-info a{
    text-decoration: none;
    color:black;
    font-size:16px;
    font-weight: 600;
    display:block; 
    margin-bottom: 3px;
}
.vid-info a:hover{
    color:black;
}
.title h3{
    font-weight:600;
    font-size:22px;
    margin:0;
    text-align:center;
    padding:0;
    padding-bottom:8px;
}
/* -----------for small border----------- */
.title::before{
    content:'';
    background-color:rgb(95, 8, 8);
    height:4px;
    width:110px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform:translateY(33px);   
}
.title::after{
    content: '';
    background:rgb(95, 8, 8);
    height:9px;
    width:25px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    display:block;
    transform:translateY(-8px);  
}
/* ---------------------------------------- */
@media(max-width:400px){
    .right-slidebar{
        max-width:100%;
        margin-left:10px;
        margin-right:10px;
    }
    .row{
        flex-direction:column;
    }
    .vid-info a{
        font-size:13px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .vid-info small{
        font-size:11px;
    }
    .side-video-list img{
        width:100%;
    }
    .side-video-list{
        justify-content:space-between;
    }
    .side-video-list .small-thumbnail{
        flex-basis:45%;
    }
    .side-video-list .vid-info{
        flex-basis:53%;
    }
    .loginbtn a i{
        font-size:30px;
        top:9px;
    }
    .loginbtn a{
        color:white;
        position:absolute;
        top:2px;
        left:320px;
        text-decoration:none;
        font-weight:600;
    }
}
